<rss
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:media="http://search.yahoo.com/mrss/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  version="2.0"
>
  <channel>
    <title><%= Orbit::settings[:website][:name] %></title>
    <description><%= Orbit::settings[:website][:description] %></description>
    <link><%= Orbit::settings[:website][:url] %></link>
    <language>en-us</language>
    <image>
      <url><%= "#{Orbit::settings[:website][:url]}/assets/logo.png" %></url>
      <title><%= Orbit::settings[:website][:name] %></title>
      <link><%= Orbit::settings[:website][:url] %></link>
    </image>
    <ttl>1440</ttl>
    <atom:link href="<%= "#{Orbit::settings[:website][:url]}/feed.xml" %>" rel="self" type="application/rss+xml" />
    <% nodes.each do |node| %>
      <item>
        <title><%= node.title.escape_html %></title>
        <link><%= node.full_url %></link>
        <description><%= node.seo_description.escape_html %></description>
        <pubDate><%= node.date_modified.rfc2822 %></pubDate>
      </item>
    <% end %>
  </channel>
</rss>
