---
import '../styles/pages/about.scss';

import settings from '#src/astro/settings.js';

import Layout from '#src/astro/layouts/Layout.astro';
import Hero from '#src/astro/components/Hero.astro';
import TableOfContents from '#src/astro/components/TableOfContents.astro';

const title = 'About';
const subtitle = '<p>A few word about the project and its goals.</p>';
const pageDescription =
  'Learn more about the development and maintanance of 30 seconds of code.';
const hero = {
  title: 'Hi there! <span class="wave">👋</span> I’m Angelos.',
  description: `<p>I’m a professional software engineer, based in Greece. I work on <strong>30 seconds of code</strong> in my free time to create the best resource I never had when I started out as a developer.</p><p>You can <a href=${settings.ownerUrl} rel='noopener noreferrer nofollow' target='_blank'>learn more about me</a>, if you want.</p>`,
  cover: 'https://avatars2.githubusercontent.com/u/8281875?v=4'
}
---

<Layout title={title} description={pageDescription}>
  <main slot='main-content'>
    <Hero
      secondary
      title={hero.title}
      description={hero.description}
      cover={hero.cover}
    />

    <article>
      <h2 id="about-the-project">About the project</h2>
      <p>
        I started 30 seconds of code in <strong>2017</strong> as a side project
        to help me and others learn new things and improve their coding skills,
        by providing <strong>free access</strong> to curated content.
      </p>
      <p>
        Since then, a <strong>large community of contributors</strong>
        has formed around it, creating hundreds of short code snippets and
        programming articles, as well as helping me maintain and curate the
        content on the website.
      </p>
      <p>
        In recent years, the community aspect has simmered down a bit, but I'm
        still commited to creating and maintaining a <strong>high-quality
        resource</strong> to help developers learn and grow. Nowadays, I treat
        the project more as a <strong>personal blog</strong>, where I share my
        thoughts and ideas on software development and dive into interesting
        programming topics.
      </p>
    </article>

    <article>
      <h2 id="community-contributions">Community Contributions</h2>
      <p>
        If you find a <strong>bug, typo, omission, or any other content issue</strong>,
        you can use the <strong>GitHub link on the article page</strong>
        to find the matching file and then <strong>open an issue</strong> describing
        the problem. This is the best way to help me keep the content up-to-date
        and accurate.
      </p>
      <p>
        Any <strong>other content contributions</strong> (e.g. new articles) are
        currently not accepted and will most likely be closed without review.
        This is due to a <strong>lack of time</strong> and not because I don't
        appreciate your effort. I'm always happy to see people interested in
        contributing and hope to be able to discuss new topic ideas with you in
        the future.
      </p>
    </article>

    <article>
      <h2 id="license">License</h2>
      <p>
        In order for the code provided via 30 seconds of code to be accessible
        and useful to as many developers as possible, <strong>code snippets</strong>
        are licensed under the <strong>CC-BY-4.0 License</strong>. This means they
        are <strong>free to use</strong> in any project you like as long as you
        <strong>give appropriate credit</strong> to this website.
      </p>
      <p>
        Any <strong>other material</strong> on this website and on the GitHub
        repository, including but not limited to text content, images, logos,
        names, trademarks and the website source code are <strong>not to be used
        without the explicit consent</strong> of the owner of this website.
      </p>
      <p>
        This is especially important for content shared on the internet or as
        part of any educational material to ensure readers can always trace
        the content back to its original source and find updated versions that
        might have been published.
      </p>
    </article>

    <article>
      <h2 id="acknowledgments">Acknowledgments</h2>
      <p>
        All of the <strong>photography</strong> on the 30 seconds of code
        website as well as other media used is provided by <a
          href='https://unsplash.com/'
          target='_blank'
          rel='noopener noreferrer'>Unsplash</a
        >. Instead of adding credits to individual images, I have opted to
        create an <a
          href='https://unsplash.com/collections/9387655/30-seconds-of-code-images'
          target='_blank'
          rel='noopener noreferrer'>image collection</a
        > to better showcase all of the images used and connect users with photographers.
      </p>
    </article>
  </main>
  <TableOfContents slot='side-bar'>
    <ol>
      <li>
        <a href="#about-the-project">About the project</a>
      </li>
      <li>
        <a href="#community-contributions">Community Contributions</a>
      </li>
      <li>
        <a href="#license">License</a>
      </li>
      <li>
        <a href="#acknowledgments">Acknowledgments</a>
      </li>
    </ol>
  </TableOfContents>
</Layout>
