---
import settings from '../settings/global.json';

const currentYear = new Date().getFullYear();
---

<footer class='box-border mt-0 pt-6 mx-2 mb-0 pb-6 g-c4'>
  <p class='fs-xs lh-loose my-1.5 flex gap-4'>
    <a href='/about'>About</a>
    <a href='/cookies'>Cookies</a>
    <a href='/faq'>FAQ</a>
    <a href='/feed'>RSS</a>
    <a
      href={settings.githubOrgUrl}
      rel='noopener noreferrer nofollow'
      target='_blank'>GitHub</a
    >
    <a
      href={settings.twitterUrl}
      rel='noopener noreferrer nofollow'
      target='_blank'>Twitter</a
    >
  </p>
  <p class='fs-xs lh-loose mt-0.5'>
    Website, name & logo &copy; 2017-{currentYear}
    <a
      class='inline-block'
      href={settings.githubOrgUrl}
      rel='noopener noreferrer nofollow'
      target='_blank'>{settings.orgName}</a
    >
    <br />
    Individual snippets licensed under
    <a
      href={settings.licenseUrl}
      rel='noopener noreferrer nofollow'
      target='_blank'>CC-BY-4.0</a
    >
    <br />
    Powered by
    <a
      href='https://www.netlify.com/'
      rel='noopener noreferrer nofollow'
      target='_blank'>Netlify</a
    >{', '}
    <a
      href='https://astro.build/'
      rel='noopener noreferrer nofollow'
      target='_blank'>Astro</a
    >{' & '}
    <a
      href='https://github.com/'
      rel='noopener noreferrer nofollow'
      target='_blank'>GitHub</a
    >
  </p>
</footer>
