---
import prefabs from '#prefabs';

const { paginator } = Astro.props;

if (!paginator) return null;

const { previous, pages, next } = paginator;

const pageButtonBase = `${prefabs.button} m-0 py-2.5 px-3.5 br-lg box-border f-center`;
const prevNextButtonBase = `${pageButtonBase} ${prefabs.actionLinkButton} gap-1 j-center fs-no md:fs-sm`;

const previousButtonClass = `${prevNextButtonBase} ${prefabs.iconButton}`;
const pageButtonClass = `${pageButtonBase} ${prefabs.actionButton} fs-md`;
const nextButtonClass = `${prevNextButtonBase} ${prefabs.iconReverseButton}`;
---

<div class='paginator gap-2 mt-7 mx-auto mb-6 a-center grid j-center'>
  {
    previous ? (
      <a href={previous.url} class={previousButtonClass} rel='prev'>
        <svg width="24" height="24" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M83.7712 28.2288C85.854 30.3116 85.854 33.6885 83.7712 35.7713L55.5425 64L83.7712 92.2288C85.854 94.3116 85.854 97.6885 83.7712 99.7713C81.6884 101.854 78.3115 101.854 76.2288 99.7713L44.2288 67.7713C42.146 65.6885 42.146 62.3116 44.2288 60.2288L76.2288 28.2288C78.3115 26.146 81.6884 26.146 83.7712 28.2288Z" fill="currentColor"/>
        </svg>
        {previous.label}
      </a>
    ) : (
      <div />
    )
  }
  <div class='flex a-center gap-2'>
    {
      pages.map(({ label, url, current }) =>
        current ? (
          <span class='fs-xl box-border f-center m-0'>
            {label}
          </span>
        ) : (
          <a href={url} class={pageButtonClass}>
            {label}
          </a>
        )
      )
    }
  </div>
  {
    next ? (
      <a href={next.url} class={nextButtonClass} rel='next'>
        <svg width="24" height="24" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M44.2288 28.2288C46.3116 26.146 49.6885 26.146 51.7713 28.2288L83.7713 60.2288C85.8541 62.3116 85.8541 65.6885 83.7713 67.7713L51.7713 99.7713C49.6885 101.854 46.3116 101.854 44.2288 99.7713C42.146 97.6885 42.146 94.3116 44.2288 92.2288L72.4576 64L44.2288 35.7713C42.146 33.6885 42.146 30.3116 44.2288 28.2288Z" fill="currentColor"/>
        </svg>
        {next.label}
      </a>
    ) : (
      <div />
    )
  }
</div>
