---
import prefabs from 'prefabs/index.js';

import Card from 'components/Card.astro';
import CardTitle from 'components/CardTitle.astro';
import Image from 'components/Image.astro';

const { contentItem } = Astro.props;
const { title, description, url, cover, tags, extraContext } = contentItem;
---

<Card
  element='li'
  class='list-card grid a-center py-5 px-4 md:p-6 relative no-overflow'
>
  <Image
    class='br-md'
    src={cover}
    alt=''
    height='144'
    width='144'
    loading='lazy'
  />
  <div class='flex flex-col gap-1 md:gap-2'>
    <CardTitle isSecondary>
      <a class='inherit fill-parent' href={url}>{title}</a>
    </CardTitle>
    <p
      class='mx-0 mt-1 mb-3 f-clamp fs-sm md:fs-md'
      set:html={`${description}`}
    />
    <p class={prefabs.cardSubtitle}>
      {tags} &middot; <span class='inline-block'>{extraContext}</span>
    </p>
  </div>
</Card>
