---
import prefabs from 'prefabs/index.js';

import Image from 'components/Image.astro';

const { snippet } = Astro.props;

const hasCodeBlocks = Boolean(snippet.codeBlocks && snippet.codeBlocks.length);
const hasScopeCSS = Boolean(snippet.code && snippet.code.scopedCss);
---

<article class={prefabs.snippetCard}>
  <h1 class={prefabs.cardTitle}>{snippet.title}</h1>
  <p class={prefabs.cardSubtitle}>
    {snippet.tags} &middot; <span class='inline-block'>{snippet.date}</span>
  </p>
  <Image
    class='ar-wide mt-5 br-md'
    src={snippet.cover}
    alt=''
    height='180'
    width='360'
    fetchpriority='high'
  />
  <div
    class='card-description flex flex-col'
    set:html={snippet.fullDescription}
  />
  {
    hasScopeCSS && (
      <div class='card-preview-content'>
        <h5 class='snippet-preview-title txt-150 fs-md lh-tight'>Preview</h5>
        <div class='snippet-preview m-0 br-md' data-scope='snippet-preview'>
          <style set:html={snippet.code.scopedCss} />
          <div set:html={snippet.code.html} />
        </div>
      </div>
    )
  }
  {
    hasCodeBlocks && (
      <div class='card-source-content mt-5 mx-0 mb-0'>
        {snippet.codeBlocks.map(({ language, htmlContent }) => (
          <div class='code-highlight'>
            <pre
              data-code-language={language.long}
              class={`notranslate ${`language-${language.short}`} card-code`}
              translate="no"
              set:html={htmlContent}
            />
            <button
              class='flex-none before:fs-sm btn action-btn icon-btn icon icon-clipboard'
              title='Copy code'
            />
          </div>
        ))}
      </div>
    )
  }
  {
    snippet.author ? (
      <div class='flex flex-col m-0'>
        <h3 class='mt-4 mb-0 mx-0 txt-150 fs-md md:fs-lg lh-tight'>
          Written by {snippet.author.name}
        </h3>
        <p class='lh-loose mx-0 mt-2 mb-0 txt-100 fs-sm md:fs-md'>
          {snippet.author.intro}
        </p>
        <p class='lh-loose m-0 txt-100 fs-sm md:fs-md'>
          {'If you want to keep in touch, follow me on '}
          <a
            href={snippet.author.github}
            target='_blank'
            rel='nofollow noopener noreferrer'
          >
            GitHub
          </a>
          {' or '}
          <a
            href={snippet.author.twitter}
            target='_blank'
            rel='nofollow noopener noreferrer'
          >
            Twitter<!-- --></a><!-- -->.
        </p>
      </div>
    ) : null
  }
  <div class='card-actions flex'>
    {
      snippet.actionType === 'codepen' && (
        <button
          class='flex-none before:fs-md btn action-btn icon-btn icon icon-codepen'
          title='View CodePen'
        />
      )
    }
    <a
      class='flex-none before:fs-md btn action-btn icon-btn icon icon-github'
      href={snippet.url}
      rel='nofollow noopener noreferrer'
      target='_blank'
      title='View on GitHub'></a>
  </div>
</article>
