---
import prefabs from '#prefabs';

import Image from '#components/Image';

const { snippet } = Astro.props;
---

<article class={prefabs.snippetCard}>
  <h1 class={prefabs.cardTitle}>{snippet.title}</h1>
  <p class={prefabs.cardSubtitle}>
    {snippet.tags} &middot; <span class='inline-block'>{snippet.date}</span>
  </p>
  <Image
    class='ar-wide mt-5 br-md'
    src={snippet.cover}
    alt=''
    height='180'
    width='360'
    fetchpriority='high'
  />
  <div
    class='card-description flex flex-col'
    set:html={snippet.fullDescription}
  />
  </div>
</article>
