---
import '../styles/index.scss';

import Meta from '#components/Meta';
import Footer from '#components/Footer';
import Header from '#components/Header';
import Omnisearch from '#components/Omnisearch';

const {
  title,
  description,
  logoSrc,
  pageType,
  structuredData,
  breadcrumbsData,
  canonical,
} = Astro.props;
---

<html lang='en'>
  <head>
    <Meta
      title={title}
      description={description}
      logoSrc={logoSrc}
      pageType={pageType}
      structuredData={structuredData}
      breadcrumbsData={breadcrumbsData}
      canonical={canonical}
    />
  </head>
  <body>
    <a href='#skip-link-target' data-skip-link>Skip to content</a>
    <Header />
    <div id='skip-link-target'/>
    <slot name='main-content' />
    <slot name='side-bar' />
    <Footer />
    <Omnisearch />
  </body>
</html>
